body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
h1{
    font-size: 2.5em;
    color:#0055A4; 
    text-align: center;
    border-bottom: 3px solid #FFA550;
    font-style: oblique;
}
p{
    color: black;
}

img{
    display: flex;
    margin: 0 auto;
    border-radius: 150%;
    width: 100px;
    height: 100px;
}    
.bio{
    text-align:center;
    margin-top: 20px;
    color: black;
}
footer{
    text-align: center;
    color:chocolate;
}
Strong{
    text-align: center;
    color: chocolate;
}
.me{
    text-align: center;
}
.header{
    text-align: center;
}
